fieldset {
  border: var(--b1);
}

fieldset, label {
  font-size: 1rem;
  font-family: var(--base);
  line-height: 1.5rem;
}

input,
textarea,
select {
  outline: 0 none;
  width: 100%;
  min-height: var(--si);
  /* -webkit-appearance: none; */
  border-radius: unset;
  border: 0;
  padding: var(--pcell);
  font-size: 1rem;
  font-family: var(--base);
  line-height: 1.5rem;
  text-align: start;
  background-color: var(--cinput);
}

select, [type="number"] {
  width: auto;
}

input:focus,
select:focus,
textarea:focus {
  position: relative;
  z-index: 1;
  outline: 0;
  box-shadow: var(--focus);
}

[type="color"] {
  width: var(--si);
  height: var(--si);
  padding: .25em
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  width: 1.3em;
  height: 1em;
  min-height: unset;
}

input::file-selector-button {
  margin-top: .25rem;
  border: 0;
  font-size: 1em;
  color: white;
  background: var(--cbtn);
}

[type="button"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  width: auto;
}

:disabled:hover {
  cursor: not-allowed;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
.btn {
  position: relative;
  -webkit-appearance: none;
  height: var(--si);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  padding: var(--pcell);
  font-size: 1rem;
  font-family: var(--base);
  text-decoration: none;
  /* white-space: nowrap; */
  color: white;
  background: var(--cbtn);
}

button:hover,
button:active,
[type="button"]:hover,
[type="button"]:active,
[type="submit"]:hover,
[type="submit"]:active,
[type="reset"]:hover,
[type="reset"]:active,
.btn:hover,
.btn:active {
  background: var(--hbtn);
  color: white;
  cursor: pointer;
}

button:focus,
[type="button"]:focus,
[type="submit"]:focus,
[type="reset"]:focus {
  z-index: 1;
  outline: 0;
  box-shadow: var(--focus);
}
/* The .btn class doesn’t get this input focus ring. It will get the 
link focus ring insead when you do <a class="btn" href="">...</a>. */

.icon {
  width: var(--si);
  height: var(--si);
  padding: 0;
  line-height: inherit;
}