fieldset {
  border: var(--b1);
}

label, legend {
  font-family: var(--base);
}

::placeholder {
  color: var(--ctext);
  opacity: .7;
}

input,
textarea,
select {
  outline: 0 none;
  min-height: var(--sinput);
  /* -webkit-appearance: none; */
  border: 0;
  border-radius: unset;
  padding: var(--pcell);
  font-family: var(--base);
  font-size: inherit;
  text-align: start;
  background: var(--cbginput);
}

input:focus,
select:focus,
textarea:focus {
  position: relative;
  z-index: 1;
  outline: 0;
  box-shadow: 0 0 0 4px var(--cfocus);
}

select:not([multiple]) {
  height: var(--sinput);
}

[type="color"] {
  width: var(--sinput);
  height: var(--sinput);
  padding: .25em;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  height: 0.85em;
  min-height: unset;
  width: 1em;
}

input::file-selector-button {
  border: 0;
  font-size: 1em;
  color: white;
  background: var(--cbgbtn);
}

:disabled:hover {
  cursor: not-allowed;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
.btn {
  position: relative;
  -webkit-appearance: none;
  min-height: var(--sinput);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  padding: var(--s1) 1em;
  font-family: var(--base);
  font-size: inherit;
  font-weight: var(--fwbtn);
  text-decoration: none;
  color: var(--cbtn);
  background: var(--cbgbtn);
  transition: all 0.15s ease;
}

button:hover,
button:active,
[type="button"]:hover,
[type="button"]:active,
[type="submit"]:hover,
[type="submit"]:active,
[type="reset"]:hover,
[type="reset"]:active,
.btn:hover,
.btn:active {
  color: var(--cbtnh);
  background: var(--cbgbtnh);
  cursor: pointer;
}

button:focus-visible,
[type="button"]:focus-visible,
[type="submit"]:focus-visible,
[type="reset"]:focus-visible {
  z-index: 1;
  outline: 0;
  box-shadow: 0 0 0 4px var(--cfocus);
}
/* Note: The .btn class doesn’t get this input focus ring. As normal, it will 
get the link focus ring insead when you do <a class="btn" href="">...</a>. */

.icon {
  width: var(--sinput);
  height: var(--sinput);
  padding: 0;
  line-height: inherit;
}