:root {
  /*
  Example Google Fonts
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,wght@0,8..60,400;0,8..60,700;1,8..60,400;1,8..60,700&display=swap');
  --base: 'Source Sans 3', sans-serif;
  --prose: 'Source Serif 4', serif;
  */

  /*
  Native Typeface Stacks
  */
  --base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --prose: "Iowan Old Style", "Palatino Linotype", Palatino, Georgia, serif;
  --mono: ui-monospace, Menlo, "Segoe UI Mono", Consolas, "Ubuntu Monospace", monospace;
  
  --fs: 100%; /* Base font size */
  --lh: 1.5; /* Base line-height (no unit) */
  --mlh: calc(var(--lh) * 1rem); /* margin line-height in rems */

  --lighter: 200;
  --normal: 400;
  --semibold: 600;
  --bold: 700;
  --heavy: 900;

  /*
  Widths set at 256px intervals.
  If you change these, remember to also change 
  the @container queries and @media queries in _src/partials/layout.css
  */
  --wxxs: 256px;
  --wxs: 512px;
  --wsm: 768px; 
  --wmd: 1024px;
  --wlg: 1280px;
  --wxl: 1440px;
  --wxxl: 1600px;
  
  /*
  Spacing (margins, paddings, flexbox gaps, and grid gaps)
  s2 through s4 are based on https://clamp.font-size.app/,
  expanding each to 150% of initial value from 720px to 1080px
  */
  --s1: 0.5rem;
  --s2: clamp(1rem, 2.2222vw, 1.5rem);
  --s3: clamp(2rem, 4.4444vw, 3rem);
  --s4: clamp(3rem, 6.6666vw, 4.5rem);
  --pcell: var(--s1) calc(2 * var(--s1));
  --ls: 0.75em; /* list spacing (between items) */

  /* 
  Major third typographic scale, calculated by https://type-scale.com
  Set heading sizes using ems, so that all headings can be clamp() enlarged by wrapping with `.longread` 
  */
  --h1: 2.441em;
  --h2: 1.953em;
  --h3: 1.563em;
  --h4: 1.25em;
  --h5: 1em;
  --h6: .8em;

  --hf: inherit;  /* headings font */
  --hfw: var(--normal);  /* headings font-weight */
  --hlh: calc(1em + 0.5rem); /* headings line-height */

  --fslongread: clamp(1rem, 0.25rem + 1.5625vw, 1.25rem);
  --lhlongread: calc(var(--fs) * 1.5);

  --dolink: .3rem; /* link decoration offset */
  --dtlink: 1px; /* link decoration thickness */
  --sinput: 2.5em; /* input and button spacing */
  --fwbtn: normal; /* button font-weight */

  --b1: 1px solid var(--cborder);
  --b2: 4px solid var(--cborder);
  --b3: 8px solid var(--cborder);

  --r2: 4px;
  --r3: 8px;
  --r4: 16px;
}

