<div id="site-nav" class="bggray bg800">
  <div class="sticky top hmax100dvh overflowy">
    <div class="pcell center">
      <a id="site-title" href="{{ '/' | url }}" class="h3 m0 py1 normal flex flexcenter flexmiddle flexwrap gap1 tgray t100 h:t200 noline">
        <svg height="48" width="48" viewBox="0 0 111 111" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:1.5">
          <g transform="translate(-294.592 -94.592)">
            <circle cx="350" cy="150" r="50" style="fill:none;stroke:currentColor;stroke-width:4px"/>
            <path d="M294.167 180H320v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(10 -10)"/>
            <path d="M405.833 180H380v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(-10 -10)"/>
            <circle cx="350" cy="150" r="30" style="fill:none;stroke:currentColor;stroke-width:6px" transform="matrix(.66667 0 0 .66667 116.667 50)"/>
            <path d="M310 180h80" style="fill:none;stroke:currentColor;stroke-width:4px"/>
            </g>
            </svg>
        <span class="nowrap">{{ metadata.title }}</span>
      </a>
      <span class="tgray t400 md:hiddenbelow">Version: {{ metadata.version }}</span>
    </div>

    <nav id="site-nav" role="menu">
      <button type="button" id="site-nav-toggle" aria-expanded="false" aria-label="Menu" aria-controls="site-nav-menu" class="absolute top right m2 md:hidden">
        Menu
      </button>

      <div id="site-nav-menu" class="mxauto center twhite" style="width: var(--wxxs);">
        <div class="my2 pcell flex flexcolumn gap2">
          <a class="block tgray t100 h:t200" href="{{ '/' | url }}">Introduction</a>
          <a class="block tgray t100 h:t200" href="{{ '/typography/' | url }}">Typography</a>
          <a class="block tgray t100 h:t200" href="{{ '/layout/' | url }}">Layout</a>
          <a class="block tgray t100 h:t200" href="{{ '/decoration/' | url }}">Decoration</a>
          <a class="block tgray t100 h:t200" href="{{ '/colors/' | url }}">Colors</a>
          <a class="block tgray t100 h:t200" href="{{ '/forms/' | url }}">Forms</a>
          <a class="block tgray t100 h:t200" href="{{ '/buttons/' | url }}">Buttons</a>
        </div>

        <div class="mb2 pcell">
          <button class="w100% mb1 p1 flex flexcolumn gap1" onclick="toggleFont()">
            <div class="label-base w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">Base font</div>
            </div>
            <div class="label-prose w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">Prose font</div>
            </div>
          </button>

          <button class="w100% mb1 p1 flex flexcolumn gap1" onclick="toggleFS()">
            <div class="label-normal w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">Normal font-size</div>
            </div>
            <div class="label-longread w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">Long read font-size</div>
            </div>
          </button>

          <button class="w100% mb1 p1 flex flexcolumn gap1" onclick="toggleColors()">
            <div class="label-oklch w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">OKLCH colors</div>
            </div>
            <div class="label-hsl w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">HSL colors</div>
            </div>
          </button>

          <button class="w100% mb1 p1 flex flexcolumn gap1" onclick="toggleTheme()">
            <div class="label-light w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">Light theme</div>
            </div>
            <div class="label-dark w100% flex flexmiddle gap1">
              <div class="check-box flex flexcenter flexmiddle tblack bgwhite"></div>
              <div class="grow left">Dark theme</div>
            </div>
          </button>
        </div>

      </div>
    </nav>
  </div>
</div>