<div id="site-nav" class="bggray bg800">
  <div class="sticky top overflowy" style="max-height: 100vh;">
    <div class="py2 flex flexcolumn center">
      <a href="{{ '/' | url }}" class="h4 m0 normal flex flexcolumn flexmiddle tgray t100 h:t200 noline">
        <svg height="48" width="48" viewBox="0 0 111 111" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:1.5"><g transform="translate(-294.592 -94.592)"><circle cx="350" cy="150" r="50" style="fill:none;stroke:currentColor;stroke-width:4px"/><path d="M294.167 180H320v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(10 -10)"/><path d="M405.833 180H380v-65.833" style="fill:none;stroke:currentColor;stroke-width:4px" transform="translate(-10 -10)"/><circle cx="350" cy="150" r="30" style="fill:none;stroke:currentColor;stroke-width:6px" transform="matrix(.66667 0 0 .66667 116.667 50)"/><path d="M310 180h80" style="fill:none;stroke:currentColor;stroke-width:4px"/></g></svg>
        <span class="p1 nowrap">{{ metadata.title }}</span>
      </a>
    </div>

    <nav class="pb2 sm:hidden pcell twhite">
      <details>
        <summary class="bold">Documentation</summary>
        <div class="pt2">
          <a class="block my2 tgray t100 h:t200" href="{{ '/' | url }}">Introduction</a>
          <a class="block my2 tgray t100 h:t200" href="{{ '/typography' | url }}">Typography</a>
          <a class="block my2 tgray t100 h:t200" href="{{ '/layout' | url }}">Layout</a>
          <a class="block my2 tgray t100 h:t200" href="{{ '/decoration' | url }}">Decoration</a>
          <a class="block my2 tgray t100 h:t200" href="{{ '/colors' | url }}">Colors</a>
          <a class="block my2 tgray t100 h:t200" href="{{ '/forms' | url }}">Forms</a>
          <a class="block my2 tgray t100 h:t200" href="{{ '/buttons' | url }}">Buttons</a>
        </div>

        <p class="pcell bggray bg900">
          <a class="block tgray t100 h:t200 noline" href="https://raw.githubusercontent.com/SimonPadbury/baselayer/main/_src/css/min/baselayer.min.css">Dowload CSS</a>
          <a class="block mt2 tgray t100 h:t200 noline" href="https://github.com/SimonPadbury/baselayer">GitHub Repo</a>
        </p>
    
        <p class="italic tgray t400">Version {{ metadata.version }}</p>
      </details>
    </nav>

    <nav class="sm:hiddenbelow px2" style="width: 200px;">
      <a class="block my2 tgray t100 h:t200" href="{{ '/' | url }}">Introduction</a>
      <a class="block my2 tgray t100 h:t200" href="{{ '/typography' | url }}">Typography</a>
      <a class="block my2 tgray t100 h:t200" href="{{ '/layout' | url }}">Layout</a>
      <a class="block my2 tgray t100 h:t200" href="{{ '/decoration' | url }}">Decoration</a>
      <a class="block my2 tgray t100 h:t200" href="{{ '/colors' | url }}">Colors</a>
      <a class="block my2 tgray t100 h:t200" href="{{ '/forms' | url }}">Forms</a>
      <a class="block my2 tgray t100 h:t200" href="{{ '/buttons' | url }}">Buttons</a>
    </nav>

    <div class="p2 sm:hiddenbelow" style="width: 200px;">
      <button id="font-toggle" class="w100% mb1 b1 bgray b100 h:b100 tgray t100 bgtransparent h:bgblack nowrap">&nbsp;typeface</button>
      <button id="fs-toggle" class="w100% mb1 b1 bgray b100 h:b100 tgray t100 bgtransparent h:bgblack nowrap">&nbsp;size</button>
      <button id="theme-toggle" class="w100% b1 bgray b100 h:b100 tgray t100 bgtransparent h:bgblack nowrap">&nbsp;mode</button>
    </div>

    <p class="m2 sm:hiddenbelow">
      <a class="block my2 tgray t100 h:t200 noline" href="https://raw.githubusercontent.com/SimonPadbury/baselayer/main/_src/css/min/baselayer.min.css">Dowload CSS</a>
      <a class="block my2 tgray t100 h:t200 noline" href="https://github.com/SimonPadbury/baselayer">GitHub Repo</a>
    </p>

    <p class="m2 italic tgray t400 sm:hiddenbelow">Version {{ metadata.version }}</p>
  </div>
</div>