* {
  /* lightness (decrements: 8.5%) */
  --l100: 97%;
  --l200: 88.5%;
  --l300: 80%;
  --l400: 71.5%;
  --l500: 63%;
  --l600: 54.5%;
  --l700: 46%;
  --l800: 37.5%;
  --l900: 29%;

  /* chroma */
  --c0: 0;
  --c10: 0.10;
  --c15: 0.15;
  --c20: 0.20;
  --c25: 0.25;
  --c30: 0.30; /* (higher chromas are out of gamut for any monitors) */

  /* hue */
  --gray: 0;
  --blue: 265;
  --green: 165;
  --amber: 90;
  --red: 25;

  /* builders */
  --tcolor:  oklch(var(--tl) var(--tc) var(--th));
  --bcolor:  oklch(var(--bl) var(--bc) var(--bh));
  --bgcolor: oklch(var(--bgl) var(--bgc) var(--bgh));
}

/*
Baselayer oklch() theme colors
*/
:root {
  --ctext:    oklch(var(--l900) var(--c0) var(--gray));
  --clink:    oklch(var(--l600) var(--c30) var(--blue)); /* link */
  --clinkh:   oklch(var(--l800) var(--c30) var(--blue)); /* link hover */
  --cfocus:   oklch(var(--l200) var(--c30) var(--blue)); /* input & button (not link) focus ring */
  --cbginput: oklch(var(--l100) var(--c0) var(--gray)); /* input background */
  --cbgbtn:   oklch(var(--l600) var(--c0) var(--gray)); /* button */
  --cbgbtnh:  oklch(var(--l700) var(--c0) var(--gray)); /* button hover */
  --cbgcode:  oklch(var(--l100) var(--c10) var(--blue)); /* <code> background */
  --cborder:  oklch(var(--l200) var(--c0) var(--gray)); /* Finelines (table borders and HR) */
}

/*
Baselayer dark oklch() theme colors
*/

/* @media (prefers-color-scheme: dark) { * {...} }*/
.theme-dark * {
  /* lightness (decrements: 7%) */
  --l100: 85%;
  --l200: 77.5%;
  --l300: 70%;
  --l400: 62.5%;
  --l500: 55%;
  --l600: 47.5%;
  --l700: 40%;
  --l800: 32.5%;
  --l900: 25%;
}
.theme-dark {
  --cbgbody:  oklch(var(--l900) var(--c0) var(--gray)); 
  --ctext:    oklch(var(--l100) var(--c0) var(--gray));
  --clink:    oklch(var(--l300) var(--c30) var(--blue));
  --clinkh:   oklch(var(--l400) var(--c30) var(--blue));
  --cbginput: oklch(var(--l800) var(--c0) var(--gray));
  --ccode:    white;
  --cbgcode:  oklch(var(--l800) var(--c30) var(--blue));
  --cborder:  oklch(var(--l500) var(--c0) var(--gray));
}

.tgray, .h\:tgray:hover {
  --tl: var(--l500);
  --tc: 0 !important;
  --th: var(--gray);
  color: var(--tcolor);
}
.bgray, .h\:bgray:hover {
  --bl: var(--l500);
  --bc: 0 !important;
  --bh: var(--gray);
  border-color: var(--bcolor);
}
.bggray, .h\:bggray:hover {
  --bgl: var(--l500);
  --bgc: 0 !important;
  --bgh: var(--gray);
  background: var(--bgcolor);
}

.tblue, .h\:tblue:hover {
  --tl: var(--l500);
  --tc: var(--c30);
  --th: var(--blue);
  color: var(--tcolor); 
}
.bblue, .h\:bblue:hover {
  --bl: var(--l500);
  --bc: var(--c30);
  --bh: var(--blue);
  border-color: var(--bcolor); 
}
.bgblue, .h\:bgblue:hover {
  --bgl: var(--l500);
  --bgc: var(--c30);
  --bgh: var(--blue);
  background: var(--bgcolor); 
}

.tgreen, .h\:tgreen:hover {
  --tl: var(--l500);
  --tc: var(--c30);
  --th: var(--green);
  color: var(--tcolor); 
}
.bgreen, .h\:bgreen:hover {
  --bl: var(--l500);
  --bc: var(--c30);
  --bh: var(--green);
  border-color: var(--bcolor); 
}
.bggreen, .h\:bggreen:hover {
  --bgl: var(--l500);
  --bgc: var(--c30);
  --bgh: var(--green);
  background: var(--bgcolor); 
}

.tamber, .h\:tamber:hover {
  --tl: var(--l500);
  --tc: var(--c30);
  --th: var(--amber);
  color: var(--tcolor); 
}
.bamber, .h\:bamber:hover {
  --bl: var(--l500);
  --bc: var(--c30);
  --bh: var(--amber);
  border-color: var(--bcolor); 
}
.bgamber, .h\:bgamber:hover {
  --bgl: var(--l500);
  --bgc: var(--c30);
  --bgh: var(--amber);
  background: var(--bgcolor); 
}

.tred, .h\:tred:hover {
  --tl: var(--l500);
  --tc: var(--c30);
  --th: var(--red);
  color: var(--tcolor); 
}
.bred, .h\:bred:hover {
  --bl: var(--l500);
  --bc: var(--c30);
  --bh: var(--red);
  border-color: var(--bcolor); 
}
.bgred, .h\:bgred:hover {
  --bgl: var(--l500);
  --bgc: var(--c30);
  --bgh: var(--red);
  background: var(--bgcolor); 
}

/* Text shades */

.t100,
.h\:t100:hover { 
  --tl: var(--l100);
  --tc: var(--c10);
  color: var(--tcolor); 
}
.t200,
.h\:t200:hover { 
  --tl: var(--l200);
  --tc: var(--c15);
  color: var(--tcolor); 
}
.t300,
.h\:t300:hover { 
  --tl: var(--l300);
  --tc: var(--c20);
  color: var(--tcolor); 
}
.t400,
.h\:t400:hover { 
  --tl: var(--l400);
  --tc: var(--c25);
  color: var(--tcolor); 
}
.t500,
.h\:t500:hover { 
  --tl: var(--l500);
  --tc: var(--c30);
  color: var(--tcolor); 
}
.t600,
.h\:t600:hover { 
  --tl: var(--l600);
  --tc: var(--c25);
  color: var(--tcolor); 
}
.t700,
.h\:t700:hover { 
  --tl: var(--l700);
  --tc: var(--c20);
  color: var(--tcolor); 
}
.t800,
.h\:t800:hover { 
  --tl: var(--l800);
  --tc: var(--c15);
  color: var(--tcolor); 
}
.t900,
.h\:t900:hover { 
  --tl: var(--l900);
  --tc: var(--c10);
  color: var(--tcolor); 
}

/* Border shades */

.b100,
.h\:b100:hover { 
  --bl: var(--l100);
  --bc: var(--c10);
  border-color: var(--bcolor); 
}
.b200,
.h\:b200:hover { 
  --bl: var(--l200);
  --bc: var(--c15);
  border-color: var(--bcolor); 
}
.b300,
.h\:b300:hover { 
  --bl: var(--l300);
  --bc: var(--c20);
  border-color: var(--bcolor); 
}
.b400,
.h\:b400:hover { 
  --bl: var(--l400);
  --bc: var(--c25);
  border-color: var(--bcolor); 
}
.b500,
.h\:b500:hover { 
  --bl: var(--l500);
  --bc: var(--c30);
  border-color: var(--bcolor); 
}
.b600,
.h\:b600:hover { 
  --bl: var(--l600);
  --bc: var(--c25);
  border-color: var(--bcolor); 
}
.b700,
.h\:b700:hover { 
  --bl: var(--l700);
  --bc: var(--c20);
  border-color: var(--bcolor); 
}
.b800,
.h\:b800:hover { 
  --bl: var(--l800);
  --bc: var(--c15);
  border-color: var(--bcolor); 
}
.b900,
.h\:b900:hover { 
  --bl: var(--l900);
  --bc: var(--c10);
  border-color: var(--bcolor); 
}

/* Background shades */

.bg100,
.h\:bg100:hover { 
  --bgl: var(--l100);
  --bgc: var(--c10);
  background: var(--bgcolor); 
}
.bg200,
.h\:bg200:hover { 
  --bgl: var(--l200);
  --bgc: var(--c15);
  background: var(--bgcolor); 
}
.bg300,
.h\:bg300:hover { 
  --bgl: var(--l300);
  --bgc: var(--c20);
  background: var(--bgcolor); 
}
.bg400,
.h\:bg400:hover { 
  --bgl: var(--l400);
  --bgc: var(--c25);
  background: var(--bgcolor); 
}
.bg500,
.h\:bg500:hover { 
  --bgl: var(--l500);
  --bgc: var(--c30);
  background: var(--bgcolor); 
}
.bg600,
.h\:bg600:hover { 
  --bgl: var(--l600);
  --bgc: var(--c25);
  background: var(--bgcolor); 
}
.bg700,
.h\:bg700:hover { 
  --bgl: var(--l700);
  --bgc: var(--c20);
  background: var(--bgcolor); 
}
.bg800,
.h\:bg800:hover { 
  --bgl: var(--l800);
  --bgc: var(--c15);
  background: var(--bgcolor); 
}
.bg900,
.h\:bg900:hover { 
  --bgl: var(--l900);
  --bgc: var(--c10);
  background: var(--bgcolor); 
}
